---
---

@import "{{ site.theme }}";

a {
  color: #2e7d32;
}

a:hover {
  color: #1b5e20;
}

header img {
  margin-bottom: 20px;
}

footer {
  display: none;
}

@media screen and (min-width: 961px) {
  header {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding-right: 15px;
  }
}
