<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet"
        href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

  {% include head-custom.html %}
</head>

<body>

<div class="wrapper">

  <header>

    <h1>
      <a href="{{ "/" | absolute_url }}">
        {{ site.title | default: site.github.repository_name }}
      </a>
    </h1>

    {% if site.logo %}
      <img src="{{ site.logo | relative_url }}" alt="Rebecca Arkhed">
    {% endif %}

    <h3>Skills</h3>

<h4>Programming</h4>
<ul>
  <li>C++</li>
  <li>Python</li>
  <li>JavaScript</li>
  <li>MATLAB</li>
  <li>HTML & CSS</li>
</ul>

<h4>Software & Tools</h4>
<ul>
  <li>Unreal Engine 5</li>
  <li>Blender</li>
  <li>Visual Studio</li>
  <li>Git</li>
  <li>GitHub & GitLab</li>
</ul>

    <h3>Contact</h3>

    <p class="contact-links">
      💼 <a href="https://www.linkedin.com/in/rebecca-arkhed-4105b920a/">LinkedIn</a><br>
      💻 <a href="https://github.com/Rebar310">GitHub</a><br>
      ✉️ <a href="rebecca.arkhed@telia.com">Email</a>
    </p>

  </header>


  <section>

    {{ content }}

  </section>


  <footer>

    <p>
      <small>
        Hosted on GitHub Pages
      </small>
    </p>

  </footer>

</div>


<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

</body>

</html>
