<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet"
        href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

  {% include head-custom.html %}
</head>

<body>

<div class="wrapper">

  <header>

    <h1>
      <a href="{{ "/" | absolute_url }}">
        {{ site.title | default: site.github.repository_name }}
      </a>
    </h1>

    {% if site.logo %}
      <img src="{{ site.logo | relative_url }}" alt="Rebecca Arkhed">
    {% endif %}

    <h3>About Me</h3>

    <p>
      I am a fourth-year M.Sc. student in Media Technology and Engineering at Linköping University, currently in the first year of my master's-level studies. I enjoy combining technical problem-solving with creative development and have a particular interest in 3D modelling and software development.
      
      I am interested in a wide range of programming areas and enjoy exploring new technologies and ways of solving problems. I genuinely enjoy learning new things, and I am always happy to take on a challenge that allows me to develop both technically and personally.
    
      I am also interested in project management and will further develop my skills in this area through a project management course during my fourth year. Other areas that especially interest me include artificial intelligence, robotics and autonomous vehicles, as I find the combination of software, intelligent systems and real-world applications particularly exciting.

      I am currently open to opportunities to carry out my Master's thesis in collaboration with a company. I am also very interested in summer work within Media Technology, software development or related technical fields. Ideally, I would love for such an opportunity to grow into a longer-term collaboration and potentially continued employment after completing my studies.

      I am always happy to connect with companies working within these areas, as well as with organisations offering opportunities where I can learn, contribute and take on new challenges.

    </p>


    <h3>Contact</h3>

    <p class="contact-links">
      💼 <a href="https://www.linkedin.com/in/rebecca-arkhed-4105b920a/">LinkedIn</a><br>
      💻 <a href="https://github.com/Rebar310">GitHub</a><br>
      ✉️ <a href="rebecca.arkhed@telia.com">Email</a>
    </p>

  </header>


  <section>

    {{ content }}

  </section>


  <footer>

    <p>
      <small>
        Hosted on GitHub Pages
      </small>
    </p>

  </footer>

</div>


<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

</body>

</html>
